# docker-compose.yml

version: "3.9"

services:
  db:
    image: postgres:14
    volumes:
      - aisalesman_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8012:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: EeriecastDjango.settings
      DEBUG: True
      REACT_URL: http://localhost:5173
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0

  celery_worker:
    build: .
    command: sh -c "python manage.py migrate && celery -A EeriecastDjango worker -l info"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: EeriecastDjango.settings
      DEBUG: True
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0

  celery_beat:
    build: .
    command: sh -c "python manage.py migrate && celery -A EeriecastDjango beat -l info"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: EeriecastDjango.settings
      DEBUG: True
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0

volumes:
  aisalesman_postgres_data:
